<ion-view title="Career Occupational Skill Tree" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="careerOccupationalSkillTree-list4" class=" ">
            <ion-item class="item-icon-left  " id="careerOccupationalSkillTree-list-item15">
                <i class="icon ion-bonfire"></i>Technologist Journeyman Badge</ion-item>
            <ion-item id="careerOccupationalSkillTree-list-item16" class="  ">Completion of 10 Challenges</ion-item>
            <ion-item class="item-icon-left  " id="careerOccupationalSkillTree-list-item17">
                <i class="icon ion-ios-lightbulb-outline"></i>Tinkerer Achievement</ion-item>
            <ion-item id="careerOccupationalSkillTree-list-item18" class="  ">First Challenge Freedom Fighter</ion-item>
        </ion-list>
    </ion-content>
</ion-view>