<ion-view title="Find Your New Path" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="findYourNewPath-button-bar1" class=" button-bar ">
            <button id="findYourNewPath-button1" style="font-size:18px;" class=" button button-balanced  button-block ">Math</button>
            <button id="findYourNewPath-button2" style="font-size:18px;border-radius:2px 2px 2px 2px;" class=" button button-balanced  button-block ">Science</button>
            <button id="findYourNewPath-button3" style="font-size:18px;border-radius:2px 2px 2px 2px;" class=" button button-stable  button-block ">Dancing</button>
        </div>
        <div id="findYourNewPath-button-bar2" class=" button-bar ">
            <button id="findYourNewPath-button4" style="font-size:18px;border-radius:2px 2px 2px 2px;" class=" button button-assertive  button-block ">Art</button>
            <button id="findYourNewPath-button5" style="font-size:18px;border-radius:2px 2px 2px 2px;" class=" button button-balanced  button-block ">Puzzles</button>
            <button id="findYourNewPath-button6" style="font-size:18px;" class=" button button-balanced  button-block ">Writing</button>
        </div>
        <div id="findYourNewPath-button-bar3" class=" button-bar ">
            <button id="findYourNewPath-button7" style="font-size:18px;" class=" button button-assertive  button-block ">Tech</button>
            <button id="findYourNewPath-button8" style="font-size:18px;border-radius:2px 2px 2px 2px;" class=" button button-stable  button-block ">Music</button>
            <button id="findYourNewPath-button9" style="font-size:18px;" class=" button button-assertive  button-block ">Reading</button>
        </div>
        <div id="findYourNewPath-button-bar4" class=" button-bar ">
            <button id="findYourNewPath-button10" style="font-size:18px;" class=" button button-assertive  button-block ">Fashion</button>
            <button id="findYourNewPath-button11" style="font-size:18px;border-radius:2px 2px 2px 2px;" class=" button button-balanced  button-block ">Sports</button>
            <button id="findYourNewPath-button12" style="font-size:18px;" class=" button button-balanced  button-block ">Nature</button>
        </div>
        <p id="findYourNewPath-markdown2" style="color:#000000;font-size:15px;" class=" ">Please select the activities that you most like and dislike: Red - not for me, Gray - it's ok, Green - now that's my favorite!</p>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <a ui-sref="tabsController.occupationList" id="findYourNewPath-button13" style="border-radius:10px 10px 10px 10px;" class=" button button-dark  button-block ">Submit!</a>
    </ion-content>
</ion-view>