<ion-view title="Occupation List" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="occupationList-list9" class=" ">
            <ion-item class="item-thumbnail-left  " id="occupationList-list-item22" ui-sref="tabsController.softwareEngineer">
                <img src="img/jRaP1ZMTFyD9hLjFWaTu_183481626.jpg">
                <h2>Software Engineer</h2>
                <p style="white-space:normal;">"Enhances the World with Computers"</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="occupationList-list-item23">
                <img src="img/GJWYlRqxQ7WR1zc0k47P_man_nobkgrd.GIF">
                <h2>Medical Doctor</h2>
                <p style="white-space:normal;">"Studies and Manages Human Disease"</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="occupationList-list-item24">
                <img src="img/lT7QfFNRRPevlbuhCs2g_DqlhOXOd.png">
                <h2>Scientist</h2>
                <p style="white-space:normal;">"Uncovers Nature's Mysteries"</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="occupationList-list-item25">
                <img src="img/GJHUJyhTQWRCfIHkiml0_webo-People-Group-Society.jpg">
                <h2>Counselor</h2>
                <p style="white-space:normal;">"Helps People Overcome Life Obstacles"</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>