<ion-view title="Level Up" id="page4" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="list card " id="levelUp-card23">
            <ion-item class="item-avatar  " id="levelUp-list-item6">
                <img src="img/nDUkGwxTWqINWa7cYPTA_ASCII-tux.gif">
                <h2>ChatBot Tux</h2>
            </ion-item>
        </div>
        <p id="levelUp-markdown3" style="color:#000000;" class=" ">Type: Q&amp;A
            <br>Difficulty: not so hard
            <br>__
            <br>Daily Challenge #7:
            <br>John, as we get closer to our computer build exercise, we have a quick task for you. Conduct a google search and find an article related to the topic of random access memory components in your computer. Write a short paragraph summarizing
            the article and submit your answer. Good luck!!</p>
        <form id="levelUp-form5" class="list ">
            <label class="item item-input " id="levelUp-textarea1">
                <span class="input-label"></span><textarea placeholder="type here.."></textarea>
            </label>
        </form>
        <button id="levelUp-button15" style="border-radius:5px 5px 5px 5px;" class=" button button-assertive  button-block ">Submit Answer!</button>
    </ion-content>
</ion-view>